.git
.gitignore
.changeset
.husky

node_modules
**/node_modules

.turbo
**/.turbo
.next
**/.next

dist
**/dist
build
**/build
coverage
**/coverage

.env
.env.*
**/.env
**/.env.*

python
examples
templates
apps/docs
apps/registry
apps/devtools-extension
apps/devtools-frame

*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
Thumbs.db
.vscode
.idea
